<head>
  <meta charset="utf-8">
</head>

<div class="container spacer">
 <div class="container">
   mot clé:<input type="text" ng-model="motcle"/>
   <button ng-click="chercherProduits()">Charger</button>
 </div>
   <table class="table table-striped">
    <thead>
       <tr>
           <th>Id</th><th>Designation</th><th>Prix</th><th>Quantité</th>
       </tr>
    </thead>
   <tbody>
     <tr ng-repeat="p in pageProduits.content">
       <td>{{p.idProduit}}</td>
       <td>{{p.designation}}</td>
       <td>{{p.prix}}</td>
       <td>{{p.quantity}}</td> 
       <td class="clickable" href="#" ng-click="delfunction(p.idProduit)">delete</td>
       <td  class="clickable" href="#" ng-click="loadFieldsIntoChamps(p)">edit</td>
       <div class="container spacer">
   <div class="panel panel-default" ng-if="mod==1">
     <div class="panel-heading">Modifier un produit</div>
      <div class="panel-body">
         <form >
                
           <div class="form-group">
              <label class="control-label">Désignation:</label>
              <input class="form-control" type="text" ng-model="produit.designation"/>
           </div>
           <div class="form-group">
              <label class="control-label">Prix:</label>
              <input class="form-control" type="text" ng-model="produit.prix"/>
           </div>
           <div class="form-group">
              <label class="control-label">Quantité</label>
              <input class="form-control" type="text" ng-model="produit.quantity"/>
           </div>
           <div>
              <button ng-click="editProduit(produit.idProduit)" class="btn btn-primary">Edit</button>
           </div>
         </form>
      </div>
   </div>
           <!--  href = #used to activate pointer -->
<!--    <div class="panel panel-default" ng-if="mod==0"> -->
<!--      <div class="panel-heading">Confirmation <a href="#" ng-click="modeForm()"></a></div> -->
<!--       <div class="panel-body">  -->
<!--        <div class="form-group"> -->
<!--            <label>Id:</label><label>{{produit.idProduit}}</label> -->
<!--       </div> -->
<!--       <div class="form-group"> -->
<!--            <label>Designation:</label><label>{{produit.designation}}</label> -->
<!--       </div> -->
<!--       <div class="form-group"> -->
<!--            <label>Prix:</label><label>{{produit.prix}}</label> -->
<!--       </div> -->
<!--       <div class="form-group"> -->
<!--            <label>Quantité:</label><label>{{produit.quantity}}</label> -->
<!--       </div> -->
<!--     </div> -->
<!--    </div> -->
<!-- </div> -->
   </tbody>
   </table>
  </div>
   <div class="container">
   <!-- ng-class="{active:$index==pageCourant:to add color to index -->
      <ul class="nav nav-pills ">
         <li class="clickable" ng-repeat="p in pages track by $index" ng-class="{active:$index==pageCourant}">
        <a ng-click="goToPage($index)"> {{$index}} </a>
         </li>
      </ul>
   </div>